<div class="row" th:fragment="table">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity of stock</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.price}  + ' Kc'"></td>
                <td th:text="${item.quantityOfStock}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>