<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/header::header"></head>

<body>

<div class="container">

    <!-- TITLE -->
    <h1 class="display-4">
        <a th:href="@{/webshop/index}" class="text-decoration-none text-body">My Shop</a>
    </h1>
    <hr>

    <!-- TOPNAV -->
    <div class="row mb-3">
        <div class="col-sm-12">
            <ul th:replace="fragments/layout/topnav::topnav"></ul>
        </div>
    </div>

    <!-- SEARCH -->
    <div class="row mb-3">
        <div class="col-sm-12">
            <form th:replace="fragments/layout/search::search"></form>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="row" th:replace="'fragments/content/' + ${content}"></div>

</div>

</body>
</html>